.component-selector_tool__selector_wrapper select {
    border: 1px solid rgba(201, 201, 204, 0.48);
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, 0.06);
    box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, 0.06);
    border-radius: 3px;
    padding: 14px 12px;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.component-selector_tool__selector_wrapper {
    margin-bottom: 1em;
}
.component-selector_tool__preview_wrapper img {
    width: 100%;
}
